.mod-browse-by-model-mobile {
    padding: 0 10px;
}

.mod-browse-by-model-mobile h3 {
    font-size: 22px;
    font-weight: normal;
    margin: 20px 0;
}

.mod-browse-by-model-mobile div {
    padding: 5px 0;
}

.mod-browse-by-model-mobile a {
    font-size: 18px;
    line-height: 22px;
    color: #43a4a5;
    text-decoration: none;
}