.mod-contact h1.title {
    font-size: 30px;
    line-height: 34px;
    display: block;
    font-weight: bold;
    letter-spacing: -1px;
    margin: 0 0 5px;
}

.mod-contact .author-title strong {
    font-weight: bold;
}

.mod-contact-us {
    padding-bottom: 20px;
}

.mod-contact-us .contact-address {
    display: inline-block;
    vertical-align: top;
    width: 47.0377%;
}

.mod-contact-us h2 {
    margin: 20px 0;
    font-size: 24px;
}

.mod-contact-us .contact-form {
    display: inline-block;
    vertical-align: top;
    width: 51.9623%;
}

.contact-address a {
    color: #43a4a5;
    text-decoration: none;
}

.contact-form label {
    margin-right: 10px;
    float: left;
}

label {
    cursor: pointer;
}

.mod-contact .column.small .error-message {
    padding-left: 50px;
}

.mod-contact .row-captcha .error-message {
    position: relative;
    left: 288px;
    top: -50px;
}

.mod-contact .error .error-message {
    display: block;
}

.mod-contact .error-message {
    clear: both;
    color: red;
    display: none;
    padding-left: 90px;
}

/* dropdown-custom */
.select-wrapper {
    position: relative;
}

.mod-contact .dropdown-custom {
    min-height: 30px;
    position: relative;
    margin: 0 10px 10px 0;
    width: 225px;
    float: left;
    top: -3px;
}

.mod-contact .dropdown-custom select {
    cursor: pointer;
    position: relative;
    height: 30px;
    z-index: 10;
    width: 225px;
	font-size:100%;	
}

.mod-contact .dropdown-custom select option {
    font-size: 17px;
    position: relative;
    left: 10px;
}

.mod-contact .dropdown-custom select[disabled] {
    cursor: default;
}

.mod-contact .dropdown-custom-select {
    bottom: 0;
    display: inline-block;
    font-family: "proxima-nova-alt", Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 30px;
    left: 0;
    line-height: 29px;
    position: absolute;
    white-space: nowrap;
    z-index: 1;


    border: 1px solid #bababa; /* inner stroke */
    -moz-border-radius: 3px; /* from vector shape */
    -webkit-border-radius: 3px; /* from vector shape */
    border-radius: 3px; /* from vector shape */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.17); /* drop shadow */
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.17); /* drop shadow */
    box-shadow: 0 1px 1px rgba(0,0,0,.17); /* drop shadow */ background-image: -moz-linear-gradient(90deg, #f4f3f3 0%, #fff 100%); /* gradient overlay */
    background-image: -o-linear-gradient(#f5f5f5 0%, #e2e1e1 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(#f5f5f5 0%, #e2e1e1 100%); /* gradient overlay */
    background-image: linear-gradient(#f5f5f5 0%, #e2e1e1 100%); /* gradient overlay */

    color: #666666; /* text color */

    padding: 0 35px 0 30px;
    width: 100%;
}

.mod-contact .dropdown-custom-select.disabled {
    background: #dbdbdb none;
    color: #999;
}

.mod-contact .dropdown-custom-select p {
    display: block;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

.mod-contact .dropdown-custom-select:after {
    background: url('/wp-content/themes/jeanknowscars/assets/img/mod-shop-dropdown.gif') no-repeat right center transparent;
    border-left: 1px solid #bababa;
    content: "";
    height: 27px;
    padding-left: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 30px;
}

#contact-us-form input, #contact-us-form textarea {
    background-color: #fff;
    border: 1px solid #c1cc87;
    border-radius: 3px;
    color: #282828;
    margin-bottom: 10px;
    padding: 10px;
    width: 93%;
    font-size: 100%;
    font-family: sans-serif;
}

#contact-us-form input.cta-button {
    background-color: #010101;
    background-image: linear-gradient(#2c2c2c 0%, #010101 100%);
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 24px;
    padding: 8.5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
}

#contact-us-form input.cta-button:hover {
    color: #a8cd42;
}

/* Mobile */

.mobile-page .mod-contact {
    padding: 60px 10px 0;
}

.mobile-page .mod-contact-us .contact-form {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.mobile-page .mod-contact-us .contact-address {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.mobile-page #contact-us-form input, .mobile-page #contact-us-form textarea {
    width: 100%;
}

.contact-form .row .input-cont .wpcf7-text{
    background-color: #fff;
    border: 1px solid #c1cc87;
    border-radius: 3px;
    color: #282828;
    margin-bottom: 10px;
    padding: 10px;
    width: 93%;
    font-size: 100%;
    font-family: sans-serif;
}

.contact-form .row .input-cont .wpcf7-textarea{
    background-color: #fff;
    border: 1px solid #c1cc87;
    border-radius: 3px;
    color: #282828;
    margin-bottom: 10px;
    padding: 10px;
    width: 93%;
    font-size: 100%;
    font-family: sans-serif;
	height:60px;
}


.contact-form .btn-cont .input-cont .wpcf7-submit{
	background-color: #010101;
    background-image: linear-gradient(#2c2c2c 0,#010101 100%);
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 24px;
    padding: 8.5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
	width:93%;
}
	
span.wpcf7-not-valid-tip{
	padding-left:25%;
}

.mod-contact .dropdown-custom select {
  background-image: linear-gradient(#f5f5f5 0px, #e2e1e1 100%);
  border: 2px solid #e2e1e1;
  border-radius: 3px;
  width: 100%;
  margin:0 10px 5px 0;
}
.mod-sort-by-category-mobile .wpcf7-not-valid-tip {
  padding-left: 0;
}

.wpcf7-recaptcha{
    padding-bottom: 10px;
}