.mod-list-item, .mod-list-item-home {
    background-color: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    display: block;
    height: 327px;
    padding: 6px;
    vertical-align: top;
    margin-left: 3.77555%;
    margin-top: 30px;
}

.mod-list-item.col-22, .mod-list-item-home.col-22 {
    margin-left: 5.6923%;
}

.mod-list-item.first-row, .mod-list-item-home.first-row {
    margin-top: 0;
}

.mod-list-item.first-col, .mod-list-item-home.first-col {
    margin-left: 0;
}

.mod-list-item.item-ads, .mod-list-item-home.item-ads {
    border: none;
    padding: 0;
}

.mod-list-item a:hover, .mod-list-item-home a:hover {
    text-decoration: underline;
}

.mod-list-item .img-wrap, .mod-list-item-home .img-wrap {
    margin-bottom: 10px;
}

.mod-list-item .img-wrap img, .mod-list-item-home .img-wrap img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
}

.mod-list-item .category, .mod-list-item-home .category {
    margin: 0 10px 10px;
    padding: 0 0 10px;
    line-height: 14px;
    border-bottom: 1px dotted #999;
}

.mod-list-item .category a, .mod-list-item-home .category a {
    color: #999;
    font-size: 14px;
    line-height: 14px;
}

.mod-list-item .title-wrap, .mod-list-item-home .title-wrap {
    margin: 0 10px 10px;
    line-height: 20px;
    max-height: 40px;
}

.mod-list-item .title-wrap a, .mod-list-item-home .title-wrap a {
    color: #0089ad;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

.mod-list-item .desc, .mod-list-item-home .desc {
    color: #666;
    font-size: 16px;
    line-height: 24px;
    max-height: 72px;
    overflow: hidden;
    padding: 0 10px;
}